html,
body {
    width: 100%;
    height: 100%;
}

.login_div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#e66465, #9198e5);
}

.login {
    width: 350px;
    //align-self: center;
}